.startLoan_container {
  width: 90%;
  /* height: 100vh; */
  margin: auto;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.go_back {
  padding-block: 20px;
  padding-inline: 30px;
  text-decoration: underline;
  cursor: pointer;
}
.customize_container {
  text-align: center;
}
.customize_container .title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  padding-bottom: 20px;
}
.customize_container .input_form {
  width: 60%;
  margin-inline: auto;
  margin-block: 20px;
  text-align: left;
  padding: 20px;
  border: 1px solid #b7b4b4;
  border-radius: 14px;
  display: block;
}
.customize_container .input_form .label {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  padding-block: 13px;
}
.borrow_number {
  margin-bottom: 30px;
}
.input_number {
  height: 34px;
  border: 1px solid #b7b4b4;
  border-radius: 22px;
  width: 211px;
  padding-inline: 13px;
}
.borrow_type {
  margin-bottom: 20px;
  width: 60%;
}
.select_currency {
  display: flex;
  margin-bottom: 20px;
  gap: 40px;
}
.currency_item {
  text-align: center;
}
.currencyTypeImg {
  width: 36px;
  height: 36px;
  opacity: 0.5;
}
.currencyTypeImgSelected {
  width: 36px;
  height: 36px;
  opacity: 1;
}
.startLoan_container .description {
  font-size: 14px;
  line-height: 19px;
}
.loan_amount {
  font-size: 14px;
  line-height: 19px;
}
.back_next_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.back_next_container .btn {
  padding: 10px;
  color: white;
  width: 84px;
  background: #3c6982;
  border-radius: 25px;
  border: none;
  /* opacity: 0.5; */
}
.summaryContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.summaryContainer .label {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  padding-block: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.summaryContainer .detail_container {
  border: 1px solid #b7b4b4;
  border-radius: 14px;
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text_center {
  text-align: center;
}
.text_center .label {
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 19px !important;
}
.exclamation {
  width: 15px;
  height: 15px;
}
.goback_icon {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}
.label2 {
  font-weight: 600;
  font-size: 15px;
  line-height: 12px;
  padding-block: 13px 35px;
}
.text_underline {
  text-decoration: underline;
}
.detail {
  display: flex;
  text-align: left;
  padding-top: 10px;
}
.detailbold {
  display: flex;
  text-align: center;
  padding-left: 5px;
  font-weight: 700;
}
.progressbar {
  margin-bottom: 100px;
}
