:root {
  --border-color: #000000; /* Example for black*/
  --background-color: #ffffff; /* Example for white */
  --headerBar-color: #3c6982;
  --btn-color: #3c6982;
}
:root {
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif !important;
  }
}
