.payment_summary {
  padding: 5px 20px 20px 20px;
  border: 1px solid #b7b4b4;
  border-radius: 14px;
  margin-top: 20px;
}
.payment_summary_container {
  width: 100%;
  margin-inline: auto;
  margin-block: 10px;
  text-align: left;

  display: flex;
}
.payment_summary_container .label {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  padding-block: 13px;
}
