.howItWorks_container {
  width: 90%;
  margin: auto;
  text-align: center;
  font-weight: 400;
}
.howItWorks_header {
  margin-block: 20px;
}
.howItWorks_title {
  font-weight: 400;

  font-size: 26px;
  line-height: 31px;
  padding: 50px 0 0 30px;
}
.howItWorks_content {
  width: 80%;
  margin: auto;
  font-size: 18px;
  line-height: 24px;
  padding: 25px;
  font-weight: 400;
}
.HowItWork_Img {
  width: 100%;
  height: auto;
  margin-block: 30px;
  margin-left: 70px;
}
@media screen and (max-width: 991px) {
  .HowItWork_Img {
    margin-left: 37px;
  }
}
@media screen and (max-width: 767px) {
  .howItWorks_content {
    width: 100%;
  }
}
