// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  display: inline-flex;
  align-items: center;

  &-light {
    background: #f5f5f5;
    border: none;
    font-size: 12px;
    font-weight: $font-weight-medium;
    padding: 12px 20px;

    @include media-breakpoint-up(wide) {
      padding: 18px 37px;
      font-size: 14px;
    }

    span {
      color: $primary;
      padding-right: 10px;
      font-size: 14px;
      display: inline-block;

      @include media-breakpoint-up(wide) {
        padding-right: 23px;
        font-size: 18px;
      }
    }
  }

  &-primary {
    padding: 12px 20px;
    font-weight: $font-weight-semibold;
    font-size: 14px;

    @include media-breakpoint-up(sm) {
      padding: 15px 30px;
    }

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(wide) {
      font-weight: $font-weight-bold;
      font-size: 18px;
      padding: 19px 57px;
    }
  }
}