.home_container {
  width: 80%;
  margin: auto;
  text-align: center;
  font-weight: 400;
  padding-top: 56px;
}
.crytoBacked_container {
  margin-block: 20px;
}
.crytoBacked_header {
  font-weight: 400;

  font-size: 26px;
  line-height: 31px;
  padding: 30px;
}
.crytoBacked_body {
  width: 80%;
  margin: auto;
  font-size: 18px;
  line-height: 24px;
  padding: 25px;
  font-weight: 400;
}
.items_container {
  display: flex;
  flex-direction: row;
}
.item {
  width: 33%;
  padding: 10px;
}
.item_img {
  width: 60px;
  height: 60px;
}
.item_content {
  font-size: 18px;
  line-height: 24px;
  padding: 25px;
  font-weight: 400;
}
.get_started_btn {
  width: 29%;
  margin-block: 45px 15px;
  padding: 9px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 12px;
  background-color: var(--btn-color);
  border: none;
  color: white;
}
.home_signIn {
  text-decoration: underline;
}
.bottom_container {
  margin-block: 00px 55px;
}
.over {
  padding: 55px 17px 17px 17px;
  font-size: 18px;
  font-weight: 400;
}
.howItWorks {
  font-size: 28px;
  font-weight: 400px;
  line-height: 31px;
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .body_container {
    width: 100%;
  }
  .items_container {
    display: block;
  }
  .item {
    width: 100%;
    padding: 0px;
  }
  .get_started_btn {
    width: 90%;
  }
}
