@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif !important;
  }
}

/* header style */
.header-custom {
  border-radius: 0;
  border: none;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
  margin: 0;
}

.responsive-navContainer {
  background: rgb(255, 255, 255);
  padding: 0 1rem;
  width: 100%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.fade-in {
  opacity: 0; /* Start with 0 opacity */
  animation: fadeInAnimation 0.5s ease-in forwards; /* Apply animation */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* Fade in to full opacity */
  }
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #323232;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #323232;
}

.checkbox:checked::before {
  content: "✔";
  /* display: block; */
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 16px;
  color: white;
}

input[type='checkbox']:checked {
  -webkit-appearance: none;
}

input[type='checkbox'] {
    background-color: transparent;
}
.rounded-label {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 0;
  top: 0;
}
.custom-checkbox:checked ~ .rounded-label:before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 7px solid #000;
  position: absolute;
  left: -2px;
  top: -2px
}
/* Add your custom styles here */
.radio {
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
  position: relative;
}
/* 
.radio:checked {
  background-color: #2C3B8D;
  border-color: #2C3B8D;
} */

.radio:checked::after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #2C3B8D;
}



/* Add your custom styles here */
.range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, #2C3B8D 0%, #2C3B8D 0%, gray 0%, gray 100%);
  outline: none;
  transition: background 0.2s;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: #2C3B8D;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.range::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #2C3B8D;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.range::-webkit-slider-thumb::before{
  content:'';
  position: absolute;
  width: 6px;
  height: 100px;
  z-index: 10;
  top: 30px;
  left: 50%;
  transform: translateX(-50%); 
  background: #f10404;
}
/* Hide the default number input arrows */
.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes the margin on the inner spin button */
}

/* Hide the default number input arrows for Firefox */
.number-input[type="number"] {
  -moz-appearance: textfield;
}

/* loading */
.circle-gradient {
  fill: conic-gradient(from 0deg #276EF1 var(--fill-percentage, 0%), red var(--fill-percentage, 0%));
}

.frame {
  clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
}

.form-border {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 226 226/var(--tw-border-opacity))
}


.alert-container::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

.alert-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

.alert-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.alert-container::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.alert-container::-webkit-scrollbar-thumb:active {
  background-color: transparent;
}
.tool-tip img {
  transform: rotate(180deg);
}

.checkbox1 {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #323232;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

.checkbox1:checked {
  background-color: #323232;
}

.checkbox1:checked::before {
  content: "✔";
  display: block;
  padding-inline: 2px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}
