.progressBar {
    display: flex;
    justify-content: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.circle {
    width: 24px;
    height: 24px;
    background-color: white;
    border: 3px solid grey;
    border-radius: 50%;
    margin-bottom: 20px;
    z-index: 10;
}

.stepContent {
    text-align: center;
}

.progressBar .circle.filled {
    background-color: rgb(36, 28, 28);
    border: 3px solid grey;
}

.stepBar {
    margin-left: -4.3%;
    margin-right: -4.3%;
    margin-top: 14px;
    height: 1.2px;
    background-color: black;
    width: 15%;
}