:root {
  scroll-behavior: auto !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  @apply !border-2 !border-red-400;
}
.container {
  padding: 0 24px !important;
}
/* !Home Page Start */
.notify_button:hover {
  background-color: #23307c !important;
}
.launching-h1 {
  @apply !mt-0 !mb-5 !text-4xl !font-semibold;
}
/* !Home Page End */

/* !Tags Container Start */
.tags_container_parent {
  @apply !py-10 !container !mx-auto !px-6 !sticky !top-20 !left-0 !w-full bg-white/40 backdrop-blur-sm;
}
.tags_container {
  @apply !flex !flex-col !items-center !justify-center !gap-y-5;
}
.tags_container_tags_buttons {
  @apply !py-[10px] !px-6 !rounded-3xl !border-[1px] !border-[#E2E2E2] !font-[500] !text-sm;
}
.tags_container_tags_buttons_select {
  @apply !text-white !bg-[#0E2A32];
}
.tags_container_tags_buttons_unselect {
  @apply !text-black !bg-transparent;
}
.tags_container_search_input {
  @apply !w-full !py-[10px] !px-4 !flex !items-center !gap-x-2 !border-[1px] !border-[#E2E2E2] !rounded-3xl !order-1;
}
.tags_container_search_icon {
  @apply !text-2xl !text-black;
}
.tags_container_search_inputfield {
  @apply !w-full !text-sm !p-0 !border-0;
}
.tags_container_search_inputfield::placeholder {
  @apply !text-black;
}
/* !Tags Container End */

/* !Hero Blog Container Start */
.hero_blog_container {
  @apply !container !mx-auto !mb-16 !flex !flex-col !px-6;
}
.hero_blog_container_image_container {
  @apply !basis-3/5 !mb-8;
}
.hero_blog_container_image {
  @apply !rounded-[20px] !object-cover !w-full;
}
.hero_blog_container_details {
  @apply !basis-2/5 !space-y-2  !self-center !h-max;
}
.hero_blog_container_details_p_1 {
  @apply !text-[#545454] !text-sm;
}
.hero_blog_container_details_h2_1 {
  @apply !text-[48px] !leading-[56px] !py-2 !tracking-[0px] !text-[#141414];
}
.hero_blog_container_details_p_2 {
  @apply !text-[#141414] !text-base;
}
.hero_blog_container_details_p_3 {
  @apply !text-xs !text-[#545454];
}
.hero_blog_container_details_userinfo {
  @apply !flex !space-x-3 !items-center pt-2;
}
.hero_blog_container_details_userinfo_image {
  @apply !rounded-full !object-cover w-full h-full;
}
.hero_blog_container_details_userinfo_p_1 {
  @apply !text-sm;
}
.hero_blog_container_details_userinfo_span_1 {
  @apply !text-xs !text-[#545454] !block;
}
/* !Hero Blog Container End */

/* !Subscribe Container Start */
.subscribe_container_parent {
  @apply !px-6 !container !mx-auto;
}
.subscribe_container_parent_singleblog_true {
  @apply !my-6;
}
.subscribe_container_parent_singleblog_false {
  @apply !mt-16;
}
.subscribe_container {
  @apply !rounded-[20px] !bg-[#F9F9F9] !border-[1px] !border-[#E2E2E2] !flex !flex-col !items-center !gap-y-4;
}
.subscribe_container_singleblog_true {
  @apply !px-6 !py-8;
}
.subscribe_container_singleblog_false {
  @apply !p-10;
}
.subscribe_container_image_container {
  @apply !w-[96px] !h-[96px] !rounded-full !flex !justify-center !items-center !shrink-0 !bg-[#0E2A32];
}
.subscribe_container_info {
  @apply !grow;
}
.subscribe_container_image {
  @apply !object-cover;
}
.subscribe_container_info_h1 {
  @apply !mb-4;
}
.subscribe_container_info_h1_singleblog_true {
  @apply !text-2xl;
}
.subscribe_container_info_h1_singleblog_false {
  @apply !text-[28px];
}
.subscribe_container_info_input_container {
  @apply !gap-y-4 !flex !flex-col !justify-center !items-center !w-full;
}
.subscribe_container_info_input {
  @apply !w-full !border-[1px] !border-[#E6E6E6] !px-4 !py-[10px] !rounded-3xl !text-sm !bg-white;
}
.subscribe_container_info_input::placeholder {
  @apply text-black;
}
.subscribe_container_info_button {
  @apply !px-12 !py-[12px] !rounded-3xl !bg-[#2C3B8D] !text-white text-sm;
}
/* !Subscribe Container End */

/* !blogs Container Start */
.blogs_container_parent {
  @apply !py-16;
}
.blogs_container_parent_bg_gray {
  @apply !bg-[#F9F9F9];
}
.blogs_container {
  @apply !container !mx-auto !px-6;
}
.blogs_container_title {
  @apply !flex !items-center !justify-between !mb-10;
}
.blogs_container_title_h1 {
  @apply !text-[32px];
}
.blogs_container_title_p {
  @apply !text-[#2C3B8D] !font-[500] !text-sm !inline-block;
}
.blogs_container_title_icon {
  @apply !text-3xl !inline-block !-ml-2;
}
.blogs_container_details {
  @apply !grid !grid-cols-1 !gap-y-12;
}
.blogs_container_details_article_image {
  @apply !rounded-[20px] !mb-6 !object-cover;
}
.blogs_container_details_article_info {
  @apply !space-y-2;
}
.blogs_container_details_article_info_p_1 {
  @apply !text-[#545454] !text-sm;
}
.blogs_container_details_article_info_h2_1 {
  @apply !text-[28px] tracking-[0px];
}
.blogs_container_details_article_info_p_2 {
  @apply !text-[#141414] !text-base;
}
.blogs_container_details_article_info_p_3 {
  @apply !text-xs !text-[#545454];
}
/* !blogs Container End */

/* !Category Blogs Container Start */
.category_blogs_container_parent {
  @apply !py-16;
}
.category_blogs_container {
  @apply !container !mx-auto !px-6 !space-y-10;
}
.category_blogs_content {
  @apply !flex !flex-col !gap-y-6;
}
.category_blogs_content_image {
  @apply !rounded-[20px] !object-cover !w-full;
}
.category_blogs_content_details {
  @apply !space-y-2;
}
.category_blogs_content_details_p_1 {
  @apply !text-[#545454] !text-sm;
}
.category_blogs_content_details_h2_1 {
  @apply !text-[28px] !tracking-[0px];
}
.category_blogs_content_details_p_2 {
  @apply !text-[#141414] !text-base;
}
.category_blogs_content_details_p_3 {
  @apply !text-xs !text-[#545454];
}
/* !Category Blogs Container End */

/* !Single Blog Container Start */
.share_social_media_container {
  @apply !container !mx-auto !my-10 !flex !flex-wrap !items-center !justify-between !gap-3 !px-6;
}
.blog_home_button {
  @apply !px-4 !py-2 !rounded-3xl !text-[#2C3B8D] !bg-[#EEE] !font-[500] !flex !items-center;
}
.blog_home_button_icon {
  @apply !text-3xl !inline-block !-rotate-180 !-mr-1;
}
.share_to_social_media {
  @apply !flex !space-x-2 !items-center;
}
.share_to_social_media_p {
  @apply !text-sm !pr-4 !border-r-[1px] !border-[#E2E2E2] !mr-4 !text-black;
}
.share_to_social_media_icons {
  @apply !h-8 !w-8 !rounded-full !bg-[#EEE] !flex !justify-center !items-center;
}
.single_blog_container_parent {
  @apply !max-w-[760px] !w-full !mx-auto;
}
.single_blog_container {
  @apply !mb-16 !space-y-14 !px-6;
}
.single_blog_container_info {
  @apply !space-y-2  h-max;
}
.single_blog_container_info_p_1 {
  @apply !text-[#2C3B8D] !text-sm;
}
.single_blog_container_userinfo {
  @apply !flex !space-x-3 !items-center !pt-6;
}
.blog-content {
  @apply !px-6;
}
/* !Single Blog Container End */

/* !Article Tags Section Start */
.article_tags_container {
  @apply !flex !flex-wrap !gap-x-2 !gap-y-3 !justify-center !my-10 !px-6;
}
.article_tags_container_button {
  @apply py-[10px] !px-6 !rounded-3xl !border-[1px] !border-[#E2E2E2] !font-[500] !text-sm !text-black !bg-[#EEE];
}
/* !Article Tags Section End */

@media (min-width: 768px) {
  /* !Home Page Start */
  .launching-h1 {
    @apply !text-[48px] !mt-3 !mb-8;
  }
  /* !Home Page End */

  /* !Tags Container Start */
  /* .tags_container_parent {
    padding-inline: 0px !important;
  } */
  .tags_container {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: start !important;
    row-gap: 0px !important;
    column-gap: 1rem !important;
  }
  .tags_container_tags {
    order: 1 !important;
    justify-content: start !important;
  }
  .tags_container_search_input {
    max-width: 280px !important;
    order: 2 !important;
  }
  /* !Tags Container End */

  .category_name {
    /* !from blog.js */
    margin-inline: auto !important;
  }

  /* !Hero Blog Container Start */
  .hero_blog_container {
    flex-direction: row !important;
    /* padding-inline: 0px !important; */
    column-gap: 2.5rem !important;
  }
  .hero_blog_container_image_container {
    margin-bottom: 0px !important;
  }
  /* !Hero Blog Container End */

  /* !Subscribe Container Start */
  /* .subscribe_container_parent {
    padding-inline: 0px !important;
  } */
  .subscribe_container {
    flex-direction: row !important;
    row-gap: 0px !important;
    column-gap: 2.5rem !important;
  }
  .subscribe_container_info_input_container {
    row-gap: 0px !important;
    column-gap: 10px !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
  }
  /* !Subscribe Container End */

  /* !blogs Container Start */
  /* .blogs_container {
    padding-inline: 0px !important;
  } */
  .blogs_container_details {
    grid-template-columns: repeat(3, 1fr) !important;
    row-gap: 0px !important;
    column-gap: 2.5rem !important;
  }
  /* !blogs Container End */

  /* !Category Blogs Container Start */
  /* .category_blogs_container {
    padding-inline: 0px !important;
  } */
  .category_blogs_content {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    row-gap: 0px !important;
    column-gap: 40px;
  }
  .category_blogs_content_image {
    width: 349px !important;
    order: 2 !important;
  }
  .category_blogs_content_details {
    order: 1 !important;
  }
  /* !Category Blogs Container End */

  /* !Single Blog Container Start */

  /*?Share to Social-media Section -- Start */
  /* .share_social_media_container {
    padding-inline: 0px !important;
  } */
  /* ?Share to Social-media Section -- End */

  /* .single_blog_container {
    padding-inline: 0px !important;
  } */
  /* .single_blog_p,
  .single_blog_h1 {
    padding-inline: 0px !important;
  } */
  /* !Single Blog Container End*/

  /* !Article Tags Section Start */
  .article_tags_container {
    row-gap: 0px !important;
    justify-content: flex-start !important;
    /* padding-inline: 0px !important; */
  }
  /* !Article Tags Section End */
  /* .blog-content {
    padding-inline: 0px !important;
  } */
}

@media (min-width: 1024px) {
  /* !Subscribe Container Start */
  .subscribe_container_info_input[data-singleblog="true"] {
    width: 75% !important;
  }
  /* !Subscribe Container End */
}

@media (min-width: 1280px) {
  /* !Subscribe Container Start */
  .subscribe_container_info_input_container[data-singleblog="true"] {
    width: 80% !important;
  }
  /* !Subscribe Container End */
}

.blog-content h1 {
  font-size: 2em;
  margin: 0.67em 0;
  word-spacing: normal;
  letter-spacing: normal;
}

.blog-content h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
  word-spacing: normal;
  letter-spacing: normal;
}

.blog-content h3 {
  font-size: 1.17em;
  margin: 1em 0;
  word-spacing: normal;
  letter-spacing: normal;
}

.blog-content h4 {
  font-size: 1em;
  margin: 1.33em 0;
  word-spacing: normal;
  letter-spacing: normal;
}

.blog-content h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
  word-spacing: normal;
  letter-spacing: normal;
}

.blog-content h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
  word-spacing: normal;
  letter-spacing: normal;
}

.blog-content p,
.single_blog_p {
  color: #141414;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.single_blog_p {
  padding-inline: 24px;
}

.blog-content li {
  color: #141414;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.blog-description {
  color: #141414;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}


.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-visibility-hidden {
  backface-visibility: hidden;
}
.transform-rotate-y-180 {
  transform: rotateY(180deg);
}