@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  @apply !border-2 !border-red-400;
}

@media (min-width: 768px) {
  /* !Tags Container Start */
  .tags_container_parent {
    padding-inline: 0px !important;
  }
  .tags_container {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: start !important;
    row-gap: 0px !important;
    column-gap: 1rem !important;
  }
  .tags_container_tags {
    order: 1 !important;
    justify-content: start !important;
  }
  .tags_container_search_input {
    max-width: 280px !important;
    order: 2 !important;
  }
  /* !Tags Container End */

  .category_name {
    /* !from blog.js */
    margin-inline: auto !important;
  }

  /* !Hero Blog Container Start */
  .hero_blog_container {
    flex-direction: row !important;
    padding-inline: 0px !important;
    column-gap: 2.5rem !important;
  }
  .hero_blog_container_image {
    margin-bottom: 0px !important;
  }
  /* !Hero Blog Container End */

  /* !Subscribe Container Start */
  .subscribe_container_parent {
    padding-inline: 0px !important;
  }
  .subscribe_container {
    flex-direction: row !important;
    row-gap: 0px !important;
    column-gap: 2.5rem !important;
  }
  .subscribe_container_info_input_container {
    row-gap: 0px !important;
    column-gap: 10px !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
  }
  /* !Subscribe Container End */

  /* !blogs Container Start */
  .blogs_container {
    padding-inline: 0px !important;
  }
  .blogs_container_details {
    grid-template-columns: repeat(3, 1fr) !important;
    row-gap: 0px !important;
    column-gap: 2.5rem !important;
  }
  /* !blogs Container End */

  /* !Category Blogs Container Start */
  .category_blogs_container {
    padding-inline: 0px !important;
  }
  .category_blogs_content {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    row-gap: 0px !important;
  }
  .category_blogs_content_image {
    width: 349px !important;
    order: 2 !important;
  }
  .category_blogs_content_details {
    order: 1 !important;
  }
  /* !Category Blogs Container End */

  /* !Single Blog Container Start */

  /*?Share to Social-media Section -- Start */
  .share_social_media_container {
    padding-inline: 0px !important;
  }
  /* ?Share to Social-media Section -- End */

  .single_blog_container {
    padding-inline: 0px !important;
  }
  .single_blog_p,
  .single_blog_h1 {
    padding-inline: 0px !important;
  }
  /* !Single Blog Container End*/

  /* !Article Tags Section Start */
  .article_tags_container {
    row-gap: 0px !important;
    justify-content: flex-start !important;
    padding-inline: 0px !important;
  }
  /* !Article Tags Section End */
}

@media (min-width: 1024px) {
  .subscribe_container_info_input[data-singleblog="true"] {
    width: 75% !important;
  }
}

@media (min-width: 1280px) {
  .subscribe_container_info_input_container[data-singleblog="true"] {
    width: 80% !important;
  }
}
