@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
body {
  background-color: $white;
  color: $gray-2;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.accessibility {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.container {
  padding: 0 30px;

  @include media-breakpoint-down(lg) {
    padding: 0 20px;
  }
}

.wrapper {
  @include media-breakpoint-up(md) {
    height: 100%;
  }
}


.text-section {
  padding: 70px 0;
  color: #1f1f1f;
  font-size: 16px;
  line-height: 1.5;
}

.text-section h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
}

.text-section h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
}

.text-section h3 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
}

.text-section p {
  margin-bottom: 1.6rem;
}

.text-section a:hover {
  opacity: 0.8;
}

.text-section ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1.6rem;
  list-style: none;

  li {
    &:before {}
  }
}

.text-section p+h2,
.text-section ul+h2,
.text-section ol+h2 {
  margin-top: 2rem;
}

.text-section p+h3,
.text-section ul+h3,
.text-section ol+h3 {
  margin-top: 1.6rem;
}

.text-section h2 {
  margin-bottom: 2rem;
}

.text-section h3 {
  margin-bottom: 1.6rem;
}

.text-section li {
  padding-left: 23px;
  position: relative;
  margin-bottom: 4px;
}

.text-section ul li:before {
  width: 4px;
  height: 4px;
  background: #000;
  position: absolute;
  left: 0;
  top: 8px;
  content: "";

  @include media-breakpoint-up(md) {
    top: 10px;
  }
}

.text-section ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: counter;
  margin-bottom: 1.6rem;
}

.text-section ol li {
  counter-increment: counter;
}

.text-section ol li:before {
  content: counter(counter) ".";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  text-align: right;
}

.text-section table {
  table-layout: fixed;
  margin-bottom: 30px;
}

.text-section table td {
  border: 1px solid #000;
  padding: 10px 15px;
}

.text-section table p {
  margin: 0;
}
::placeholder{
  color: #000;
}
@media (max-width: 767px) {
  .text-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .text-section table td {
    border: 1px solid #000;
    padding: 5px 5px;
  }
}