.reivewLoan_container {
  width: 90%;
  height: 100vh;
  margin: auto;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.go_back {
  padding-block: 20px;
  padding-inline: 30px;
  text-decoration: underline;
}
.loan_detail_container {
  text-align: center;
}
.loan_detail_container .title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  padding: 0px 0px 15px;
}
.loan_detail_container .input_form {
  width: 100%;
  margin-inline: auto;
  margin-block: 10px;
  text-align: left;
  padding: 5px 20px 20px 20px;
  border: 1px solid #b7b4b4;
  border-radius: 14px;
  display: flex;
}
.loan_detail_container .input_form .label {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  padding-block: 13px;
}

.input_number {
  height: 34px;
  border: 1px solid #b7b4b4;
  border-radius: 22px;
  width: 50%;
  padding-inline: 13px;
}
.input_number:focus {
  outline: none;
  border-color: #3c6982;
}
.borrow_type {
  margin-bottom: 20px;
}
.select_currency {
  display: flex;
  gap: 40px;
}
.currency_item {
  text-align: center;
}
.currencyTypeImg {
  width: 36px;
  height: 36px;
}
.startLoan_container .description {
  font-size: 14px;
  line-height: 19px;
  margin-top: 20px;
}
.loan_amount {
  font-size: 14px;
  line-height: 19px;
}
.back_next_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  min-width: 140px;
  height: 60px;
  background: #3c6982;
  border-radius: 25px;
  border: none;
}
.btn:hover {
  opacity: 0.9;
}

.btn_finalize {
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  min-width: 259px;
  height: 66px;
  background: #3c6982;
  border-radius: 15px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: #F5F5F5;
}
.btn_finalize:hover {
  opacity: 0.9;
}
.btn_finalize:disabled {
  opacity: 0.5;
}

.finalize_container{
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 20px;
}

.summaryContainer {
}
.summaryContainer .label {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  padding-block: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.summaryContainer .detail_container {
  border: 1px solid #b7b4b4;
  border-radius: 14px;
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.radio_img {
  width: 40px;
  height: auto;
}
.goback_icon {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}
.label2 {
  font-weight: 600;
  font-size: 15px;
  line-height: 10px;
  padding-block: 13px 35px;
}
.text_underline {
  text-decoration: underline;
}
.summary_container {
  width: 50%;
  margin-inline: auto;
}
.summary_container .label {
  font-size: 17px;
  font-weight: 700;
}
.summary_label_container {
  width: 50%;
}
.summary_content_container {
  width: 50%;
}
.summary_container .content {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  padding-block: 13px;
}
.receive_container {
  width: 90%;
  margin: auto;
}
.receive_container .label {
  font-size: 14px;
  line-height: 29px;
  font-weight: 700;
  padding-block: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.detail_item {
  text-align: left;
}
.detail_item .label {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  gap: 15px;
}
.receive_container .items {
  border: 1px solid #b7b4b4;
  border-radius: 14px;
  padding: 0px 30px 40px 30px;
  margin-bottom: 30px;
}
.receive_container .items .detail_item {
  display: flex;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.flex {
  display: flex;
}
.radio {
  width: 50px;
  height: 50px;
}
